body {
  margin: 0;
  padding: 0;
  font-family: 'ArialMTStd Light Cond',sans-serif;
}

@keyframes fadeIt {
  0%   { background-color: transparent; }
  50%  { background-color: yellow; }
  100% { background-color: transparent; }
}

.hero-image {
  height:50px;
  width:auto;
}

#results > tbody > tr > td,
#results > tbody > tr > th {
  text-align : center;
  vertical-align : middle;
}